.content {
  .plist {
    .tabs {
      ul {
        margin-left: 0;
      }
    }
  }
}
.plist-child {
  position: relative;
  width: 100%;

  tbody {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 230px);
  }
  tr,
  td {
    width: fit-content;
  }
}